<div id="record" class="ui segment  ">

  <h3><%= title %></h3>
  <h4>Симтомы</h4>
  <p><%= @card_record.symptoms%></p>
  <h4>Диагноз</h4>
  <p><%= @card_record.diagnosis%></p>
  <h4>Назначение</h4>
  <p><%= @card_record.treatment%></p>

</div>
