  <div id="content">
    <div class="ui segment clinic_item">
      <h3>Вас приветсвует поликлиника №7. </h3>
      <p>Наша поликлиника предостваляет разнообразные услуги здравоохранения.</p>
      <p>C подробным перечнем услуг вы можете ознакомиться на закладке услуги.</p>
      <p>Мы вылечим все ваши болезни.</p>

    </div>

  </div>

