<div id="header" class="ui inverted vertical segment no-print">
  <div class="ui sixteen column  divided grid">

    <div class="row">
      <div class="column nine wide  logo">

        <a href="<%= root_path%>" class = 'header_link'><%= image_tag('clinic.png')%> <span>Поликлиника №7</span></a>
      </div>
      <div class="column four wide  contacts ">
        <h5>Контакты</h5>
        <p><i class="icon call"></i> <a href="tel:+375444946388">+375 (44) 495-63-88</a></p>
        <p><i class="icon mail"></i> <a href="mailto:info@certificat.by">info@health-clinic.by</a></p>
      </div>
      <div class="column three wide  timetable ">
        <h5>Время работы</h5>
        <p>Пн-Пт: 8-20</p>
        <p>Сб:    9-17</p>
      </div>

    </div>
  </div>
</div>
