<div id="medical_sidebar" class="ui left sidebar vertical menu">
  <div class="header item">Left Sidebar menu</div>
  <a class="item">One</a>
  <a class="item">Two</a>
  <a class="item">Three</a>
</div>
