<div id="content">
  <div class="ui segment">
    <form class="ui error form" action="#" accept-charset="UTF-8" method="post">
      <div class="field">
        <label for="name">Жалобы </label>
        <textarea name="name" id="name" placeholder="Жалобы"></textarea>
      </div>
      <div class="field">
        <label for="name">Диагноз </label>
        <textarea  name="name" id="name" placeholder="Диагноз"></textarea>
      </div>
      <div class="field">
        <label for="name">Рекомендации </label>
        <textarea name="name" id="name" placeholder="Рекомендации"></textarea>
      </div>

      <button name="button" type="submit" class="ui button right">Записать</button>
    </form>
  </div>


</div>
