<div id="content">
  <div class="ui segment">
    <form class="ui error form" action="#" accept-charset="UTF-8" method="post">
      <div class="field">
        <label for="name">Имя </label>
        <input type="text" name="name" id="name" placeholder="Имя пациента"/>
      </div>
      <div class="field">
        <label for="name">Фамилия </label>
        <input type="text" name="name" id="name" placeholder="Фамилия пациента"/>
      </div>
      <div class="field">
        <label for="name">Отчество </label>
        <input type="text" name="name" id="name" placeholder="Отчество пациента"/>
      </div>
      <div class="field">
        <label for="name">Дата рождения </label>
        <input type="date" name="name" id="name" placeholder="Дата рождения пациента"/>
      </div>

      <button name="button" type="submit" class="ui button right">Сделать запись</button>
    </form>
  </div>


</div>
