<div id = "content">
  <div  class="ui sixteen column page grid">
    <div class=" column four wide ">
      <div  class="ui labeled vertical  fluid  menu">
        <div class="item  bold first">
          <a>Время</a>
        </div>
        <a class="item ">
          8-00
        </a>
        <a  class="item">
          8-15
        </a>
        <a  class="item">
          8-30
        </a>
        <a  class="item">
          8-45
        </a>
        <a  class="item">
          9-00
        </a>
      </div>
    </div>
    <div class="column twelve wide card">
      <div id="record" class="ui segment  ">
        <h3>Добро пожаловать в личный кабинет.</h3>
        <p>День: 23.02.2016 </p>
        <p>Следующий пациент: Пупкин В.И. </p>
        <p>Время: 8-00.</p>
      </div>


    </div>
  </div>
</div>
