<div id="content">
  <div class="ui sixteen column page grid">
    <div class=" column four wide ">
      <%= render partial: 'menu' %>
    </div>
    <div class="column twelve wide card">
      <%= render partial: 'next_reception' %>
    </div>
  </div>
</div>
