#header {
    background: rgb(255, 255, 255);
    width: 100%;
}

.header_link {
    color: #0c556f
}


.header_link:hover {
    color: #0c556f;
    text-decoration: none
}

#header .logo {
    padding: 1em 2em;
}

#header .logo img {
    width: 75px;
    float: left;
}

#header .logo span {
    display: inline-block;
    font-size: 29px;
    font-weight: bold;
    padding: 48px 0 0 12px;}


#header .contacts  {

    color:  #0c556f;
}

#header .contacts a {
    color: #0c556f
}

#header .timetable {
    color:  #0c556f;
}
